.header{
background: #565656;
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 30px;
    font-style: oblique;
    font-family: "castellar", serif, sans-serif ;
}
nav{
	    background: #ddd;
    width: 30%;
    height: 300px;
    padding: 30px;
    font-size: 30px;
    float: left;
}
nav .list{
	list-style-type: none;
}
.list li a{    text-decoration: none;color:blue;}
.list li a:hover{ color:green}
.main{background: #f1f1f1;
    height: 300px;
    width: 57%;
    float: left;
    padding: 30px;}
footer{    background: #ddd;
    text-align: center;
    padding: 5px;}